In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('titanic.csv')

In [3]:
print(data.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [3]:
print(data.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [27]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset
data = sns.load_dataset('titanic')

# Univariate Analysis
# Histogram for age
plt.hist(data['age'].dropna(), bins=10)  # Drop missing values with dropna()
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Histogram of Age')
plt.show()

# Bivariate Analysis
# Scatter plot for age vs. fare
plt.scatter(data['age'], data['fare'])
plt.xlabel('Age')
plt.ylabel('Fare')
plt.title('Scatter Plot of Age vs. Fare')
plt.show()

# Multivariate Analysis
# Pairplot for age, fare, and survived
sns.pairplot(data[['age', 'fare', 'survived']], hue='survived')
plt.show()

<class 'ModuleNotFoundError'>: No module named 'seaborn'

In [9]:
import pandas as pd

# Load the dataset
data = pd.read_csv('titanic.csv')

# Perform descriptive statistics
statistics = data.describe()

# Display the statistics
print(statistics)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [10]:
# Drop rows with any missing values
data_without_missing = data.dropna()

In [11]:
# Drop columns with any missing values
data_without_missing = data.dropna(axis=1)

In [13]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('titanic.csv')

# Define a function to detect outliers using z-score
def detect_outliers_zscore(data, threshold=3):
    z_scores = np.abs((data - data.mean()) / data.std())
    return z_scores > threshold

# Select numeric columns for outlier detection and replacement
numeric_columns = ['age', 'fare']

# Identify outliers using z-score
outliers = detect_outliers_zscore(data[numeric_columns])

# Replace outliers with a specified value (e.g., median)
data.loc[outliers.any(axis=1), numeric_columns] = data[numeric_columns].median()

# Print the modified dataset
print(data)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
data = pd.read_csv('titanic.csv')

# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Perform label encoding
label_encoder = LabelEncoder()
for column in categorical_columns:
    data[column] = label_encoder.fit_transform(data[column])

# Print the modified dataset
print(data)

     survived  pclass  sex   age  sibsp  parch     fare  embarked  class  who  \
0           0       3    1  22.0      1      0   7.2500         2      2    1
1           1       1    0  38.0      1      0  71.2833         0      0    2
2           1       3    0  26.0      0      0   7.9250         2      2    2
3           1       1    0  35.0      1      0  53.1000         2      0    2
4           0       3    1  35.0      0      0   8.0500         2      2    1
..        ...     ...  ...   ...    ...    ...      ...       ...    ...  ...
886         0       2    1  27.0      0      0  13.0000         2      1    1
887         1       1    0  19.0      0      0  30.0000         2      0    2
888         0       3    0   NaN      1      2  23.4500         2      2    2
889         1       1    1  26.0      0      0  30.0000         0      0    1
890         0       3    1  32.0      0      0   7.7500         1      2    1

     adult_male  deck  embark_town  alive  alone
0          True     7            2      0  False
1         False     2            0      1  False
2         False     7            2      1   True
3         False     2            2      1  False
4          True     7            2      0   True
..          ...   ...          ...    ...    ...
886        True     7            2      0   True
887       False     1            2      1   True
888       False     7            2      0  False
889        True     2            0      1   True
890        True     7            1      0   True

[891 rows x 15 columns]

In [19]:
import pandas as pd

# Load the dataset
data = pd.read_csv('titanic.csv')

# Display column names
print(data.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [22]:
# Split into dependent and independent variables
X = data.drop('sex', axis=1)
y = data['sex']

In [24]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('titanic.csv')

# Exclude non-numeric columns from scaling
numeric_columns = data.select_dtypes(include=['int64', 'float64']).columns
X = data[numeric_columns]

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the independent variables
X_scaled = scaler.fit_transform(X)

# Convert the scaled data back to a DataFrame
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# Print the scaled data
print(X_scaled_df.head())

   survived    pclass       age     sibsp     parch      fare
0 -0.789272  0.827377 -0.530377  0.432793 -0.473674 -0.502445
1  1.266990 -1.566107  0.571831  0.432793 -0.473674  0.786845
2  1.266990  0.827377 -0.254825 -0.474545 -0.473674 -0.488854
3  1.266990 -1.566107  0.365167  0.432793 -0.473674  0.420730
4 -0.789272  0.827377  0.365167 -0.474545 -0.473674 -0.486337

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the dataset
data = pd.read_csv('titanic.csv')

# Split into dependent and independent variables
X = data.drop('sex', axis=1)
y = data['sex']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the training and testing sets
print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (712, 14) (712,)
Testing set shape: (179, 14) (179,)